header {
    height: 10vh;
}

main>div.row {
    background-color: yellowgreen;
    height: 90vh;
}

div#game-status {
    height: 10vh;
}

div#game-container {
    width: 50vh;
    height: 50vh;
    margin: 10vh auto;
    border: 1px solid rgb(255, 255, 255);
}

.square {
    border: 1px solid rgb(255, 255, 255);
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: pointer;
}

.square-clicked {
    background-color: blue;
}

.square-bomb {
    background-color: red;
}