header {
    height: 10vh;
}

main {
    color: white;
}

main>div.row {
    background-color: rgb(0, 0, 0);
    height: 90vh;
}

div#game-status {
    height: 10vh;
}

div#game-container {
    width: 50vh;
    height: 50vh;
    margin: 5vh auto;
    border: 1px solid grey;
}

.square {
    border: 1px solid grey;
    width: calc(100% / 5);
    height: calc(100% / 5);
    cursor: pointer;
}

.square-clicked {
    background-color: green;
}

.square-bomb {
    background-color: red;
}